[package]
name = "daily-intake-percent"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
lazy_static = "1.4.0"
readonly = "0.2.1"
regex = "1.5.6"
